/* start Dark mode toggle */
input[type="checkbox"]:first-child {
  display: none;
}

/* custom variables */
:root {
  --scale: 3.75rem; /* scale is used for dark mode toggle size */
  --transition: all 1s ease;
  --headerHeight: 8vh;
  --footerHeight: 7vh;
}


.box {
  width: var(--scale);
  height: calc(var(--scale) / 2);
  background-color: black;
  border-radius: calc(var(--scale) / 4);
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}

.ball {
  width: calc(var(--scale) / 2);
  height: calc(var(--scale) / 2);
  background-color: darkgrey;
  border-radius: 50%;
  border: 0.188rem solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  transition: var(--transition);
}

.iconToggle {
  display: flex;
  justify-content: space-evenly;
}

.dark,
.light {
  display: flex;
  align-items: center;
  padding-top: 8%;
}

.iconToggle svg {
  width: calc(var(--scale) / 3);
  height: calc(var(--scale) / 3);
}

/* end Dark mode toggle */


header {
  background-color: #16697a;
  /* min-height: var(--headerHeight); */

  align-items: center;
  grid-area: header;
}
main {
  grid-area: main;
  /* min-height: calc(100vh - var(--headerHeight) - var(--footerHeight)); */
  background-color: #EDE7E3;
}
#leftAside {
  grid-area: leftAside;
}
#rightAside {
  grid-area: rightAside;
}
#leftAside, #rightAside{
  background-color: #82c0cc;
}
footer {
  grid-area: footer;
  background-color: #ffa62b;
  /* min-height: var(--footerHeight); */
}

/* added a body transition for the change between light and dark mode */
body {
  margin: 0;
  transition: var(--transition);
  display: grid;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-template-areas:
    "header" "header" "header" 
    "leftAside" "main" "rightAside"
    "footer" "footer" "footer";
}
header,
main,
footer {
  transition: var(--transition);
}

#gradient {
  padding-left: 0.25rem;
  margin: 0;
  display: flex;
  align-items: center;
  width: 0px;
  height: var(--headerHeight);
  background-color: #82c0cc;
}
