/* custom variables */
:root {
  --scale: 3.75rem; /* scale is used for dark mode toggle size */
  --transition: all 1s ease;
  --headerHeight: 8vh;
  --footerHeight: 7vh;
}

/* initializing default style */
* {
  padding: 0;
  margin: 0;
}

/* start Dark mode toggle */
input[type="checkbox"]:first-child {
  display: none;
}

.box {
  width: var(--scale);
  height: calc(var(--scale) / 2);
  background-color: black;
  border-radius: calc(var(--scale) / 4);
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}

.ball {
  width: calc(var(--scale) / 2);
  height: calc(var(--scale) / 2);
  background-color: darkgrey;
  border-radius: 50%;
  border: 0.188rem solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  transition: var(--transition);
}

.iconToggle {
  display: flex;
  justify-content: space-evenly;
}

.dark,
.light {
  display: flex;
  align-items: center;
  padding-top: 8%;
}

.iconToggle svg {
  width: calc(var(--scale) / 3);
  height: calc(var(--scale) / 3);
}
/* End Dark mode toggle */

/* Start grid-templating */
body {
  height: 100vh;
  transition: var(
    --transition
  ); /* added a body transition for the change between light and dark mode */
  display: grid;
  grid-template:
    [header-left] "header header header" 0.1fr [header-right]
    [main-left] "leftAside main rightAside" 1fr [main-right]
    [footer-left] "footer footer footer" 0.1fr [footer-right]
    / 0.2fr 1fr 0.2fr;
}
/* End grid templating */

header {
  background-color: #16697a;
  min-height: calc(var(--scale) / 2 + 1rem);;
  height: var(--headerHeight);
  contain: content; 
  align-items: center;
  grid-area: header;
}
main {
  grid-area: main;
  background-color: #ede7e3;
}
#leftAside {
  grid-area: leftAside;
}
#rightAside {
  grid-area: rightAside;
}
#leftAside,
#rightAside {
  background-color: #82c0cc;
}
#leftAside,
main,
#rightAside {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

footer {
  grid-area: footer;
  background-color: #ffa62b;
  min-height: var(--footerHeight);
}

header,
header nav,
#leftAside,
main,
#rightAside,
footer {
  transition: var(--transition);
}

#gradient {
  position: relative;
  padding-left: 0.25rem;
  margin: 0;
  display: flex;
  align-items: center;
  width: 0px;
  height: var(--headerHeight);
  background-color: #82c0cc;
}
/* end of gradient */
header nav{
  align-items: center;
  display: flex;
  justify-content: center;
  visibility: visible;
  /* added fixed positioning to not destroy itself when using the gradient slider */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#innerHeaderContainer{
  height: 100%;
  display: flex;
}